@using WebSite.ExtensionMethods
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Html.Translate("Welcome")</h1>
    <p>@Html.Translate("This site offers a place to download the NetRisk app.")</p>
    
    <div class="row">
        <div class="col-md-6">
            <h2>@Html.Translate("Download")</h2>
            <p>@Html.Translate("Download the NetRisk app for your system.")</p>
            <p>
                <a class="btn btn-primary" href="installers/GUIClient-Linux.zip" role="button">Linux</a>
                <a class="btn btn-primary" href="installers/GUIClient-Mac-x64.zip" role="button">MacOs (x64)</a>
                <a class="btn btn-primary" href="installers/GUIClient-Mac-a64.zip" role="button">MacOs (silicon)</a>
                <a class="btn btn-primary" href="installers/NetRisk-Setup.exe" role="button">Windows</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>@Html.Translate("About")</h2>
            <p>@Html.Translate("NetRisk is an open source risk management application.")</p>
            <p>@Html.Translate("It is open source and can be used free of charges.")</p>
            <p>@Html.Translate("This is a private server.")</p>
        </div>
    </div>
    
</div>